<!DOCTYPE html>
<html lang="en">
    {% include "components/head.njk" %}
<body>
  
{% include "components/header.njk" %}
    
 
    
 HELLDIVERS

{% include "components/footer.njk" %}



    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>
</html>
