<!DOCTYPE html>
<html lang="en">
    {% include "components/head.njk" %}
<body>
  
{% include "components/header.njk" %}
    
    
    <div id="pagetop" class="container">
        <h1>Conditions</h1>
    </div>
    
    <div id="locationsearch" class="container">
        <label for="search-input" class="visually-hidden">Search</label>
                <input id="search-input" type="text" name="searchFor" data-include-content-type="true" placeholder="Find services and information..." class="ui-autocomplete-input" autocomplete="off" data-placeholder="Find services and information...">
                <button type="submit" class="search"><svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="margin-right: 3px;height: 16px; width: 16px; display: inline-block;"><path d="m2.5 7c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5m13.1 6.9-2.8-2.9c.7-1.1 1.2-2.5 1.2-4 0-3.9-3.1-7-7-7s-7 3.1-7 7 3.1 7 7 7c1.5 0 2.9-.5 4-1.2l2.9 2.8c.2.3.5.4.9.4.3 0 .6-.1.8-.4.5-.5.5-1.2 0-1.7"></path></svg></button>
        
        
        <p id="last-update">Last update: A few seconds ago</p>
     </div>



<div id="panels-wrapper" class="d-flex flex-wrap">

<div id="status" class="container d-flex col-md-12">
    
    <div id="drone" class="d-flex flex-column">
        <p>Drone</p>
        <p>Mini 3 Pro</p>
    </div>
    
    <div id="flight-status">
        <p>Good to fly</p>
    </div>
    
</div>
    
    
    
    <div id="panels" class="container d-flex flex-wrap col-md-12 justify-content-between">
        
        <div id="panel-weather" class="panel" data-weather="sunny">
            <h2>Weather</h2>
            <p>Sunny</p>
        </div>
        
         <div id="panel-sunrise" class="panel" data-sunrise="06:32">
            <h2>Sunrise</h2>
            <p>06:32</p>
        </div>
        
         <div id="panel-sunset" class="panel" data-sunset="16:48">
            <h2>Sunset</h2>
            <p>16:48</p>
        </div>
        
        <!-- ROW 2 -->
        
         <div id="panel-windspeed" class="panel" data-windspeed="4" data-max="10.7">
            <h2>Wind speed</h2>
            <p>4mph</p>
        </div>
        
        <div id="panel-gusts" class="panel" data-windgustspeed="6" data-max="10.7">
            <h2>Wind gusts</h2>
            <p>4mph</p>
        </div>
        
         <div id="panel-winddirection" class="panel" data-winddirection="NE">
            <h2>Wind direction</h2>
            <p>4mph</p>
        </div>
        
        <!-- ROW 3 -->
        
        <div id="panel-precipprob" class="panel" data-precipprob="21">
            <h2>Precip prob</h2>
            <p>21%</p>
        </div>
        
        <div id="panel-cloudcover" class="panel" data-cloudcover="56">
            <h2>Cloud cover</h2>
            <p>56%</p>
        </div>
        
        <div id="panel-visibility" class="panel" data-visibility="5">
            <h2>Visibility</h2>
            <p>5miles</p>
        </div>
        
         <!-- ROW 4 -->
        
        <div id="panel-visibilesats" class="panel" data-precipprob="18">
            <h2>Visibile sats</h2>
            <p>18</p>
        </div>
        
        <div id="panel-kp" class="panel" data-precipprob="5">
            <h2>KP</h2>
            <p>5miles</p>
        </div>
        
        <div id="panel-satslocked" class="panel" data-satslocked="17.3">
            <h2>Sats locked</h2>
            <p>17.3</p>
        </div>
        
        
       
    </div>
    
    
    
    
    
    
    
    
    
    
</div>


{% include "components/footer.njk" %}



    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>
</html>
