@import "bootstrap/bootstrap";

@import
  "components/header",
  "components/footer"
;


.bai-jamjuree-regular {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bai-jamjuree-bold {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bai-jamjuree-semibold {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bai-jamjuree-medium {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bai-jamjuree-light {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 300;
  font-style: normal;
}

*{ font-family: "Bai Jamjuree", sans-serif !important;}

html {
  height: 100%;
    font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #1f1f1f;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}



#wrapper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    
    &:after{
        content: "";
        background: url(../img/Super_earth.webp);
    background-position: center;
    background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
        height: 500px;
        display: block;
        position: absolute;
        left: 50%; top: 50%;
        transform: translateX(-50%) translateY(-50%);
           opacity: 0.05;
    }
    
     
    
}


#top {top: 0; border-bottom: 10px solid white;}
#bottom{bottom: 0; border-top: 10px solid white;}
.buffer {height: 10%; display: block; width: 100%; position: absolute;}




#strategem {display: flex; display: none;
 	li {
		display: inline-block;
		width: 100px; height: 100px;
		svg {width: 100px; height: 100px; fill: #d1d1d1;
			path {width: 100%; display: block;}
		}
		
	}
    li.complete {
        svg {fill: #DCCC50;}  
    }
}


#game {width: 500px; height: 300px; position: absolute; top: 50%; left: 50%;
transform: translateX(-50%) translateY(-50%); display: block; z-index:5;
}


#strategem-cont {display: flex; justify-content: center; color: #fff; }

button.stratpick {
    width: 78px; height: 78px; padding: 3px; border: 4px solid #676767; display: block;
    margin: 5px;
}

#strat-picks {position: relative; z-index: 3;}

#strat-picker {display: flex;}
.strat-col {display: flex; flex-wrap:wrap; width: 350px; position: relative; z-index: 2;     align-content: flex-start;}

.strategem-tile {
    width: calc(25% - 10px); margin: 5px;
    .icon-container {
        padding: 3px; border: 4px solid #676767;
        &:hover {border: 4px solid #FFE900;}
        img {width: 100%; display: block;}
    }
}
